extends base

block content
    h2 Links
    ul
        li
            a(href="?path=/vcenter/host") Host
        li
            a(href="?path=/vcenter/datacenter") Datacenter
        li
            a(href="?path=/vcenter/host") Datastore
    h2 Raw Data
    p #{JSON.stringify(data)}